<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Страница не найдена</title>
</head>
<body>
	<div class="flex-container">
		<h1>404 Страница не найдена</h1>
		<a href="/">На главную</a>
	</div>

	<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	height: 100vh;
}
	</style>
</body>
</html>